.noborder{
    border-top: none;
}

.top-arrow{
    width: 600px;
    /*max-width: 80vw;*/
    /*height: 20px;*/
    /*background-color: lightyellow;*/
}
.order-first{
    order: -1;
}


@media screen and (max-width: 700px) {
    .order-first{
        order: 1;
    }

	.top-arrow{
		margin-top: -2px;
	}

	.content >  .mini-row > .selling-point{
		padding: 0 10px;
	}

}

.join, .ingress{
	margin: 0 auto;
	max-width: 750px;
}

#page > .row:first-child{
	padding-top: 0;
}

.selling-point{
	/*width: 80% !important;*/
	padding: 0 60px;
}

.videoWrapper{
	/*background-color: lightcoral;*/
	align-self: center;
}
